body {
    font-family: $base-text-font;
    background: $base-violet;
}

body::-webkit-scrollbar {
    display: none;
  }

html,
body {
    height: 100%;
}

#app {
    height: 100%;
}

[class*="__wrapper"] {
    padding: 0px 15px;
    max-width: 1045px;
    margin: 0 auto;
}

img {
    pointer-events: none;
}


