// Colors
$base-violet: #313356;
$base-lightpurple: #4E5289;
$base-gray: #322F32;
$base-orange: #FA8D12;
$base-yellow: #FAC710;
$base-green: #43e04b;
$secondary-background: #263238;
$base-background: #00454b;

// Fonts
$base-ui-font: "Visitor Rus", sans-serif;
$base-title-font: "Disket Mono", sans-serif;